.notification {
    color: red;
}

div.search.signup input {
    margin-right: 0.5rem;
}

button#signup {
    width: 10rem;
    height: 2rem;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}